:root {
    --bg-color: #FBE0D8;
    --first-color: #4D727E;
    --second-bg-color: #283644;
    --third-color: #7A6552;
    --four-color: #fff;
    --text-color: #000000;
}

section{
    min-height: 100vh;
    padding: 6rem 6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
}
html, body{
    overflow-x: hidden;
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 100px;
    height: 120px;
    margin-right: 150px;
}

.navigation ul li a{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--four-color);
}

.logo img{
    width: 160px;
    height: auto;
    margin-top: -10px;
    margin-bottom: 70px;
    margin-left: -20px;
}

.header{
    position: relative; 
    width: 100%;
    height: 180px;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* gradasi alus */
    width: 100%;
    background: linear-gradient(
        to bottom,
        #4D727E 0%,
        #6190a0 18%,
        #77a4b1 40%,
        #99aaae 65%,
        #E6CFC9 85%,
        #FBE0D8 100%
    );
}

.container {
    display: flex;
}

/* ========== SIDEBAR ========== */
.main {
    margin-left: 110px;
    padding: 0px;
    width: calc(100% - 220px);
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* ========== FORM ========== */
label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary {
    background: #052df7;
    color: white;
}

/* ========== TABLE ========== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #ecf0f1;
}
